@model MiniToDo.ViewModels.LoginViewModel;
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Вход в систему";
}

<div class="container mt-4">
	<h1 class="mb-4">Вход в систему</h1>
    <form asp-action="Login" method="post">
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" placeholder="exemple@mail.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" placeholder="********"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-check mb-3">
            <input asp-for="RememberMe" class="form-check-input" />
            <label asp-for="RememberMe" class="form-check-label"></label>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
        <div class="mb-3">
            @foreach (var state in ViewData.ModelState.Values)
            {
                foreach (var error in state.Errors)
                {
                    <p class="text-danger">@error.ErrorMessage</p>
                }
            }
        </div>
    </form>

</div>